@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ngách 7/4, Tổ 7<br />
    Phú Lương, Hà Đông, Hà Nội<br />
    <abbr title="Phone">P:</abbr>
    0362033808
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:phanxuanchanh77@gmail.com">chunsama078@gmail.com</a><br />
</address>